<launch>
	
	<!--<arg name="environment_1" value="environments/environment_1" />-->

	<rosparam command="load" file="$(find openaggdl)/launch/lion.v.03.yaml" />
	<rosparam command="load" file="$(find openaggdl)/launch/lion_var_types.v.03.yaml" ns="var_types"/>

	<group ns="environments/astrid">
		
		<node 
			pkg="openaggdl" 
			type="topic_filter.py" 
			name="topic_filter_1"/>

		<node 
			pkg="openaggdl" 
			type="sensor_htu21df.py" 
			name="htu21df_temp_1" >
				<param name="rate_hz" value="0.0016666667" type="double"/>
		</node>

		<node 
			pkg="openaggdl" 
			type="sensor_tsl2561.py" 
			name="tsl2561_light_1" >
				<param name="rate_hz" value="0.0016666667" type="double"/>
		</node>

		<node 
			pkg="openaggdl" 
			type="adc_ads1015.py" 
			name="adc_1" >
				<param name="rate_hz" value="0.0016666667" type="double"/>
				<param name="a0" value=True type="bool"/>
				<param name="a0_topic" value="noise" type="str"/>
				
				<param name="a1" value=True type="bool"/>
				<param name="a1_topic" value="air_quality" type="str"/>
				
				<param name="a2" value=False type="bool"/>
				<param name="a3" value=False type="bool"/>
		</node>

	</group>

</launch>